<!-- Default home page -->
<div class="container">
    <div class="well wordwrap" id="textarea_sequence" contenteditable="true">
        ATTGGCCCCCTTG
    </div>

    <div id="div_highlights" class="list-group wordwrap">
    </div>
</div>