<!-- Default home page -->
<div class="container">
    <div class="panel panel-default" id="div_sequence_panel">
        <div id="div_sequence_name" class="panel-heading wordwrap">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span id="span_sequence_name"></span>
        </div>
        <div id="div_sequence_container" class="panel-body">
            <div class="sequence-positions-left sequence-font unselectable">
                <b><span id="span_sequence_positions_left"></span></b>
            </div>
            <div class="sequence-positions-right sequence-font">
                <b><span id="span_sequence_positions_right"></span></b>
            </div>
            <div id="div_sequence" class="sequence sequence-font unselectable">
                <span id="span_sequence" contenteditable="true"></span>
            </div>
        </div>
    </div>

    <div id="div_highlights" class="list-group wordwrap">
    </div>
</div>