<!-- Default home page -->
<div class="jumbotron jumbotron-fluid banner">
    <div class="row">
        <div class="logo col-md-4"></div>
        <div class="col-md-20" style="padding-top: 30px">
            <div class="col-md-1" style="padding: 0px">
                <div class="helix-tail"></div>
            </div>
            <div class="col-md-23" style="padding: 0px">
                <div class="helix-repeat"></div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark navbar-bg">
    <a class="navbar-brand" href="#">Brand</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
    </ul>
</nav>

<!-- sequence tool bar -->
<nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
    </ul>
    <form id="form_sequence_search" class="form-inline pull-xs-left" role="search" onSubmit="return false;">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
                </span>
                <input type="text" class="form-control" placeholder="Search" data-role="none">
            </div>
        </div>
    </form>
</nav>

<div id="div_sequence_nav">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="button" name="remove">
            <p class="navbar-btn" name="remove">
                <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Remove Current Sequence">
                    <span class="fa fa-minus"></span>
                </a>
            </p>
        </li>
        <li class="nav-item" role="button" name="add">
            <p class="navbar-btn" name="add">
                <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add DNA Sequence">
                    <span class="fa fa-plus"></span>
                </a>
            </p>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    </div>
</div>