[contenteditable]:focus { outline: 0px solid transparent; }

.banner {
	background: linear-gradient(to bottom, #eeffc9 0%,#badee2 17%,#339696 46%,#003a33 75%,#000000 95%,#000000 100%);
    padding-top: 110px;
    height: 200px;
    margin-bottom: 0px;
}

.logo {
    background: url('/images/logo.png') no-repeat right center;
    background-size: contain;
	height: 75px;
    margin-top: 10px;
}

.helix-tail {
    background: url('/images/helix-tail.png') no-repeat right center;
    background-size: contain;
    height: 50px;
}

.helix-repeat {
    background: url('/images/helix-repeat.png') repeat left center;
    background-size: contain;
    height: 50px;
    width: 100%;
    display: inline-block;
}

.navbar-bg {
    background-color:   black;
}

.fancy-font {
    font-family: $font-family-fancy;
    font-size: 2em;
}

.sequence-outer {
    text-align: center;
}

.sequence-inner {
    display: inline-block;
    .col-xs-2, .sequence-container {width: 4ch !important;}
    .col-xs-8, .sequence-container {width: 32ch !important;}
    .col-md-1, .sequence-container {width: 6ch !important;}
    .col-md-10, .sequence-container {width: 65ch !important;}
    .col-lg-1 {width: 10ch !important;}
    .col-lg-10 {width: 109ch !important;}
}
 
.sequence-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.sequence-font {
	font-family: $font-family-monospace;
	font-weight: bold;
}

.sequence-highlight {
    border-radius: 6px;
}

$sequence-highlight-alpha:    0.3;
.sequence-highlight-primary { background: rgba($brand-primary, $sequence-highlight-alpha); }
.sequence-highlight-info    { background: rgba($brand-info, $sequence-highlight-alpha);    }
.sequence-highlight-success { background: rgba($brand-success, $sequence-highlight-alpha); }
.sequence-highlight-warning { background: rgba($brand-warning, $sequence-highlight-alpha); }
.sequence-highlight-danger  { background: rgba($brand-danger, $sequence-highlight-alpha);  }

$sequence-highlight-hover-alpha:    1.0;
.sequence-highlight-hover-primary { background: rgba($brand-primary, $sequence-highlight-hover-alpha); }
.sequence-highlight-hover-info    { background: rgba($brand-info, $sequence-highlight-hover-alpha);    }
.sequence-highlight-hover-success { background: rgba($brand-success, $sequence-highlight-hover-alpha); }
.sequence-highlight-hover-warning { background: rgba($brand-warning, $sequence-highlight-hover-alpha); }
.sequence-highlight-hover-danger  { background: rgba($brand-danger, $sequence-highlight-hover-alpha);  }

.sequence-position {
    margin: 0px;
    display: inline;
}

.search-error {color: red;}

.wordwrap {word-wrap: break-word;}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.bold {
    font-weight: bold;
}