.sequence {
	font-family: 'Lucida Console', Monaco, monospace;
}

.sequence-highlight {
	background: rgba(0,0,0,0.2);
	border-radius: 6px;
}

.sequence-highlight-hover {
	background: rgba($brand-success, 0.7)
}

.wordwrap { 
   word-wrap: break-word;
}
