$brand-primary:       #af24ff;
$brand-success:       #99e600;
$brand-info:          #e0ff3f;
$brand-warning:       #f0ad4e;
$brand-danger:        #e6005c;

$palette0:		        #F7F7F9;
$palette1:			      #DDDDDD;
$palette2:		        #636363;
$palette3:		    	  #E5BAFF;

$body-bg:             white;
$bg-primary:				  white;
$bg-secondary:				#323232;
$bg-tertiary:				  #54003b;

$border-radius:          	0px;
$border-radius2:          15px;

// *************************************************************************************************
// LOGO AND BANNER
// *************************************************************************************************
@mixin logo-gradient() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5baff+0,c972ff+50,c560ff+51,af24ff+100 */
  background: #e5baff; /* Old browsers */
  background: -moz-linear-gradient(top,  #e5baff 0%, #c972ff 50%, #c560ff 51%, #af24ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e5baff 0%,#c972ff 50%,#c560ff 51%,#af24ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e5baff 0%,#c972ff 50%,#c560ff 51%,#af24ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5baff', endColorstr='#af24ff',GradientType=0 ); /* IE6-9 */
}

// *************************************************************************************************
// FONTS
// *************************************************************************************************

@font-face {
    font-family:            'Worksans';
    src:                    url('../fonts/worksans/WorkSans-Bold.ttf');
}

@font-face {
    font-family:            'Worksans';
    src:                    url('../fonts/worksans/WorkSans-Black.ttf');
    font-weight:			bold;
}

$font-family-serif:         'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-monospace:     'Lucida Console', Monaco, monospace;
$font-family-fancy:         'Worksans';
$font-family-base:          'Worksans';

// *************************************************************************************************
// PANELS
// *************************************************************************************************

.panel-heading {
	padding: 15px;
}

// *************************************************************************************************
// NAV BAR
// *************************************************************************************************                     
$navbar-dark-color:                 white !default;
$navbar-dark-hover-color:           $palette3 !default;
$navbar-dark-active-color:          $palette3 !default;
$navbar-dark-disabled-color:        rgba(255,255,255,.25) !default;

.nav-tabs .nav-link {
	background-color: $palette0;
	&.active {
		background-color: $palette1 !important;
		color: darken($brand-primary,25%) !important;
	}
}

.nav-tabs .nav-item {
  margin-left: 0px !important;
}

// *************************************************************************************************
// BUTTONS
// *************************************************************************************************
$btn-primary-color:              $brand-primary !default;
$btn-primary-bg:                 $bg-primary !default;


// *************************************************************************************************
// GRID
// *************************************************************************************************

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,		// Extra small screen / phone
  sm: 544px, 	// Small screen / phone
  md: 768px,	// Medium screen / tablet
  lg: 1200px,	// Large screen / desktop
  xl: 1400px	// Extra large screen / wide desktop
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 1140px,
  xl: 1300px
) !default;