<a href="#" class="list-group-item sequence-font" value="<%= highlight.cid %>" style="margin-top:3px">
	<div class="row">
		<div class="col-xs-9 col-md-10">
			<b><%= highlight.get('text') %></b>
		</div>
	  	<div class="col-xs-3 col-md-2">
		  	<span class="label label-pill label-fullsize label-<%= highlight.getCssClass() %>"> 
		    	<b><%= highlight.get('range')[0] + 1 %></b>
		    	<i class="fa fa-arrow-right color-dark" aria-hidden="true"></i>
		    	<b><%= highlight.get('range')[1] + 1 %></b> 
		  	</span>
		</div>
	</div>
</a>