<div id="tab_<%= tab.get('id') %>" data-id="<%= tab.get('id') %>" role="tabpanel" class="tab-pane" aria-labelledby="tab_<%= tab.get('id') %>">
            
	<div class="panel panel-default">

	    <div class="panel-heading wordwrap">
            <h4 class="sequence-position">
	            <span class="glyphicon glyphicon-chevron-right"></span>
            </h4>
	        <span name="name"></span>
	        <h3 class="sequence-position">
                <span name="caret" class="label label-pill label-default bold" style="float:right">#</span>
            </h3>
	    </div>

	    <div class="panel-body container-fluid">
	        <div class="row sequence-outer">
                <div class="sequence-inner">
                    <div class="col-xs-2 col-md-1 sequence-fontunselectable" style="text-align:right">
                        <b>
                            <span name="positions_left" class="sequence-font"></span>
                        </b>
                    </div>
                    <div class="col-xs-8 col-md-10 wordwrap sequence-font" style="text-align:left">
                         <span name="sequence" contenteditable="true" data-start="0" data-depth="-1"></span>
                    </div>
                    <div class="col-xs-2 col-md-1 sequence-font unselectable" style="text-align:left">
                        <b>
                            <span name="positions_right" class="sequence-font"></span>
                        </b>
                    </div>
                </div>
	        </div>
	    </div>

	</div>

	<div class="wordwrap container-fluid">
	    <ul class="list-group"></ul>
	</div>

	<div name="context_menu" class="dropdown">
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="1" name="highlight">Highlight (h)</a></li>
            <li><a tabindex="2" name="newSequence">To new sequence (n)</a></li>
        </ul>
    </div>

</div> 